[Unit]
Description=Hamradio Data Analysis Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/hamradio-copilot
ExecStart=python3 /opt/hamradio-copilot/webSNR.py -r 1 -o /opt/hamradio-copilot/html/
Restart=always

[Install]
WantedBy=multi-user.target
