[Unit]
Description=Hamradio Data Analysis Service
After=network.target

[Service]
User=user
WorkingDirectory=/opt/hamradio-copilot
ExecStart=python3 /opt/hamradio-copilot/analyzeSNR.py -o /opt/hamradio-copilot/html/
Restart=always

[Install]
WantedBy=multi-user.target

